<html>

<head>
    <title>SUPER PRIVATE INFO!!</title>
</head>

<body>
    <p>You are logged in as {{request.user.username}}</p>
    {% if message %}
    <font color="red">
        <h3>{{message}}</h3>
    </font>
    {% endif %}
    <p>Your birthday is {{birthday}}</p>
    <p>Please enter your birthday</p>
    <form action="/dashboard" method="POST">
        {% csrf_token %}
        <input type="text" name="birthday" placeholder="When were you born">
        <input type="Submit" value="SEND">
    </form>
</body>

</html>